<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Daniel Peñarreta.
  ~ Copyright (c) 2016.  All rights reserved.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seted.prevencionec"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SETED">
        <activity android:name=".ui.PantallaDeInicio1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActividadPrincipal"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConNavigationDrawer">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadPrincipal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActividadConfiguracion"
            android:label="@string/titulo_actividad_configuracion"
            android:parentActivityName=".ui.ActividadPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.seted.prevencionec.ui.ActividadPrincipal" />
        </activity>
        <activity android:name=".ui.ActividadInformacion1">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInformacion2">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInformacion3">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInformacion4">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInformacion5">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInformacion6">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion6" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInformacion7">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion7" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInformacion8">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion8" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInformacion9">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInformacion9" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActividadInfo10">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadInfo10" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Actividad_lista">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ActividadLista" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MapaGoogle"
            android:label="@string/title_activity_mapa_google">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.MapaGoogle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Actividad_Youtube"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.Actividad_Youtube" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Act_chat">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.Act_chat" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Chat_Room">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.Chat_Room" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Principal">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.Principal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SignupActivity">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.SignupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Chat_RoomPrivado">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.Chat_RoomPrivado" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Chat_RoomSETED">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.Chat_RoomSETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ListaChats">
            <intent-filter>
                <action android:name="com.seted.prevencionec.ui.ListaChats" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUXpnZeyBsxjUVK_-eErlSABOIpNXgqrE" />
    </application>

</manifest>